# Rendered by Homelab control plane
no-resolv
{% for server in config.get('upstream_servers', ['1.1.1.1', '1.0.0.1']) %}
server={{ server }}
{% endfor %}
domain={{ config.get('domain', 'homelab.local') }}
local=/{{ config.get('domain', 'homelab.local') }}/
cache-size={{ config.get('cache_size', 1000) }}
{% for range in config.get('dhcp_ranges', ['192.168.50.100,192.168.50.200,12h']) %}
dhcp-range={{ range }}
{% endfor %}
{% if config.get('router') %}
dhcp-option=option:router,{{ config.get('router') }}
{% endif %}
{% if config.get('dhcp_authoritative', True) %}
dhcp-authoritative
{% endif %}
{% for dns_server in config.get('dhcp_dns_servers', []) %}
dhcp-option=option:dns-server,{{ dns_server }}
{% endfor %}
{% for ntp_server in config.get('dhcp_ntp_servers', []) %}
dhcp-option=option:ntp-server,{{ ntp_server }}
{% endfor %}
{% if config.get('dhcp_domain_search') %}
dhcp-option=option:domain-search,{{ config.get('dhcp_domain_search') }}
{% endif %}
{% for reservation in config.get('dhcp_reservations', []) %}
dhcp-host={{ reservation.mac }},{{ reservation.ip }}{% if reservation.hostname %},{{ reservation.hostname }}{% endif %}{% if reservation.lease %},{{ reservation.lease }}{% endif %}
{% endfor %}
